{{define "albums"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Albums</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/albums.css">
    </head>
    <body>
        {{template "header"}}
        {{range .Results}}
            <div>
                <h1><a class="albums_a" href="/album?a={{.Id}}">{{.Title}}</a></h1>
                <p><a class="albums_a" href="/artiste?a={{.Artist.Id}}">{{.Artist.Name}}</a></p>
            </div>
        {{end}}
        {{template "footer"}}
    </body>
</html>
{{end}}