{{define "artists"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Artists</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/artists.css">
    </head>
    <body>
        {{template "header"}}
        {{range .Results}}
            <div>
                <a class="artists_a" href="/artist?a={{.Id}}">{{.Name}}</a>
            </div>
        {{end}}
        {{template "footer"}}
    </body>
</html>
{{end}}